In [1]:
value = 100

result = 123.45

name = 'Mohan'

res = '123'

lst = [1,2,3]

tpl = (4,5,6)

In [8]:
# int to float

In [2]:
value

100

In [3]:
type(value)

int

In [5]:
abc = float(value)

In [6]:
abc

100.0

In [7]:
type(abc)

float

In [9]:
# float to int

In [10]:
result

123.45

In [11]:
type(result)

float

In [12]:
xyz = int(result)

In [13]:
xyz

123

In [14]:
# numbers to string

In [15]:
value

100

In [16]:
str(value)

'100'

In [17]:
result

123.45

In [18]:
str(result)

'123.45'

In [19]:
# string to numbers

In [20]:
name

'Mohan'

In [21]:
int(name)

ValueError: invalid literal for int() with base 10: 'Mohan'

In [22]:
float(name)

ValueError: could not convert string to float: 'Mohan'

In [23]:
res

'123'

In [25]:
a = int(res)

In [26]:
a

123

In [27]:
type(a)

int

In [28]:
b = float(res)

In [29]:
b

123.0

In [30]:
type(b)

float

In [31]:
'100'.isdigit()

True

In [32]:
'100e'.isdigit()

False

In [33]:
# list and tuple to strings

In [34]:
lst

[1, 2, 3]

In [36]:
str(lst)

'[1, 2, 3]'

In [37]:
tpl

(4, 5, 6)

In [38]:
str(tpl)

'(4, 5, 6)'

In [39]:
str({'name':'abc'})

"{'name': 'abc'}"

In [40]:
# String to list and tuple

In [41]:
name

'Mohan'

In [42]:
list(name)

['M', 'o', 'h', 'a', 'n']

In [43]:
tuple(name)

('M', 'o', 'h', 'a', 'n')

In [44]:
dict(name)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [45]:
# list to tuple - tuple to list

In [46]:
lst

[1, 2, 3]

In [47]:
tuple(lst)

(1, 2, 3)

In [48]:
list(tpl)

[4, 5, 6]

In [49]:
# list and tuple to dict - dict to list and tuple

In [50]:
lst

[1, 2, 3]

In [51]:
dict(lst)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [52]:
dict(tpl)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [54]:
dt = {'name':'Mohan','age':30}

In [55]:
dt

{'name': 'Mohan', 'age': 30}

In [56]:
list(dt)

['name', 'age']

In [57]:
tuple(dt)

('name', 'age')