# IF

In [13]:
if True:
    print('in')

in

In [7]:
if False:
    print('not in')

In [8]:
x = 200
y = 300
z = 200

In [9]:
x == y

False

In [10]:
x == z

True

In [11]:
if x == y: # 200 == 300
    print('both numbers are same')

In [12]:
if x == z: # 200 == 200
    print('both numbers are same')

both numbers are same

In [14]:
name = 'mohan'
age = 30

In [15]:
if name == 'mohan':
    print('one')
    
if name == 'ravi':
    print('two')
    
if age > 25: 
    print('three')

one
three

# if - else

In [18]:
x = 100
y = 200
z = 100


if x == y:
    print('if statement')
else:
    print('else statement')

else statement

In [17]:
x == y

False

In [19]:
x == z

True

In [20]:
if x == z:
    print('if statement')
else:
    print('else statement')

if statement

In [21]:
if x == z:
    print('one')
if y > z:
    print('two')
else:
    print('three')

one
two

In [22]:
if x == z:
    print('one')
if z > y:
    print('two')
else:
    print('three')

one
three

In [23]:
lst = [123,'sai',10,True,12.34]

In [24]:
if 'sai' in lst:
    print('element is in list')

element is in list

In [25]:
'sai' in lst

True

In [28]:
value = 10
value2 = 44

In [27]:
if value in lst:
    print('element is in list')

element is in list

In [30]:
if value2 in lst:
    print('element is in list')
else:
    print('not in list')

not in list

In [31]:
dt = {'name': 'sai','age':30,123:456}

In [32]:
'name' in dt

True

In [33]:
123 in dt

True

In [34]:
'salary' in dt

False

In [35]:
if 'name' in dt:
    print('key exists')
else:
    print('not exists')

key exists

In [36]:
if 'salary' in dt:
    print('key exists')
else:
    print('not exists')

not exists

In [37]:
x

100

In [38]:
y

200

In [39]:
z

100

In [40]:
x is y

False

In [41]:
x is z

True

# if elif else

In [42]:
value1 = 100
value2 = 200
value3 = 200

In [44]:
if value1 >= 100:
    print('one')
if value1 == value2:
    print('two')
if value2 == value3:
    print('three')
if value3 > 150:
    print('four')
else:
    print('five')

one
three
four

In [47]:
if value1 == 150:
    print('one')
elif value1 == value2:
    print('two')
elif value2 == value1:
    print('three')
elif value3 > 150:
    print('four')
else:
    print('five')

four

In [48]:
if value1 == 100:
    print('one')
elif value1 == value2:
    print('two')
elif value2 == value1:
    print('three')
elif value3 > 150:
    print('four')
else:
    print('five')

one

In [49]:
if value1 == 1000:
    print('one')
elif value1 == value2:
    print('two')
elif value2 == value1:
    print('three')
elif value3 == 150:
    print('four')
else:
    print('five')

five