# Range

In [3]:
for value in range(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [2]:
range(10)

range(0, 10)

In [4]:
range(2,12,2)

range(2, 12, 2)

In [8]:
for temp in range(2,21,2):
    print(temp)

2
4
6
8
10
12
14
16
18
20

# Strings

In [9]:
st = "python"

for char in st:
    print(char)

p
y
t
h
o
n

In [11]:
for i in st:
    print(i)
    print(i.upper())
    print('#################')

p
P
#################
y
Y
#################
t
T
#################
h
H
#################
o
O
#################
n
N
#################

# list

In [13]:
lst = ['sai',123,45.67]

for i in lst:
    print(i)
    print('$$$$$$$$$$')

sai
$$$$$$$$$$
123
$$$$$$$$$$
45.67
$$$$$$$$$$

# tuple

In [14]:
tpl = ('sai',123,45.67)

for ele in tpl:
    print(ele)
    print('$$$$$$$$$$')

sai
$$$$$$$$$$
123
$$$$$$$$$$
45.67
$$$$$$$$$$

# dict

In [15]:
dt = {'name':'abc','age':12,'active':True}

for xyz in dt:
    print(xyz)
    print('****************')

name
****************
age
****************
active
****************

In [16]:
dt['name']

'abc'

In [18]:
for xyz in dt:
    print(xyz)       # age
    print(dt[xyz])   # dt[age]
    print('****************')

name
abc
****************
age
12
****************
active
True
****************