# Print 1 to 100 even or odd number

In [1]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [3]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Maximum value in a List

In [7]:
lst = [12,39,47,5,-15,99,87,102]

In [3]:
max(lst)

99

In [4]:
min(lst)

-15

In [9]:
lst[0]

12

In [12]:
lst

[12, 39, 47, 5, -15, 99, 87, 102]

In [11]:
max_value = 0

for value in lst:
    if value > max_value:  # 39 > 12
        max_value = value
        
max_value

102

# Recursion

In [1]:
# If a function calls itself

In [ ]:
# factorial = 5! - > 5 * 4 * 3 * 2 * 1

In [2]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)  # 5 * factorial(4) --> 5 * 4 * 3 * 2 * 1
    
factorial(5)

120

# accessing inner List and Tuple

In [3]:
lst = [1,2,3,(4,5)]

tpl = (9,8,7,[6,5])

In [4]:
lst

[1, 2, 3, (4, 5)]

In [5]:
tpl

(9, 8, 7, [6, 5])

In [6]:
lst[0]

1

In [7]:
lst[0] = 100

In [8]:
lst

[100, 2, 3, (4, 5)]

In [9]:
lst[3]

(4, 5)

In [10]:
lst[3][0]

4

In [11]:
lst[3][0] = 400

TypeError: 'tuple' object does not support item assignment

In [12]:
lst[3]

(4, 5)

In [13]:
lst[3] = 45

In [14]:
lst

[100, 2, 3, 45]

In [15]:
tpl

(9, 8, 7, [6, 5])

In [16]:
tpl[0]

9

In [17]:
tpl[0] = 900

TypeError: 'tuple' object does not support item assignment

In [18]:
tpl[3]

[6, 5]

In [19]:
tpl[3] = 65

TypeError: 'tuple' object does not support item assignment

In [21]:
tpl[3][0]

6

In [22]:
tpl[3][1]

5

In [23]:
tpl[3][1] = 500

In [24]:
tpl

(9, 8, 7, [6, 500])

In [25]:
id(tpl)

2073755635280

In [26]:
id(tpl[0])

140706451822496

In [27]:
id(tpl[3])

2073755704064

In [28]:
id(tpl[3][0])

140706451822400

# Remove duplicates from a list

In [1]:
lst = [1,2,3,1,2,3,1]  # [1,2,3]

In [2]:
set(lst)

{1, 2, 3}

In [3]:
result = []

for ele in lst:
    if ele not in result:
        result.append(ele)

        
print(result)

[1, 2, 3]

In [14]:
2 not in [1,2,3]

False

# Count no of occuranaces each element in a String/List/Tuple

In [11]:
# st = 'pythonpythonabababaap'

st = [1,1,1,1,2,3,3,2,2,2]

dt = dict.fromkeys(st,0)

for char in st:
    if char in dt:
        dt[char] = dt[char]+1

dt

{1: 4, 2: 4, 3: 2}

# count of a given element

In [3]:
lst = [1,2,3,1,1,2,4,5]

lst.count(7)

0

In [16]:
def count_test(lst, n):
    count_value = 0
    for i in lst:
        if i == n:
            count_value = count_value + 1
            
    return count_value

abc = [1,2,3,1,1,2,4,5,1,2,1,5]
k = 55
count_test(abc,k) # count([1,2,3,1,1,2,4,5,1,2,1,5],2)

0

In [16]:
len('line number'.split(" "))

2

In [14]:
len(['line', 'number', 'one'])

3

In [20]:
len('line number three')

17

# Count no of lines,words and characters in a file

In [26]:
line_count = 0
word_count = 0
char_count = 0
fp = open('sample.txt')

file_data_lines = fp.readlines()
# print(len(file_data_lines))

for line in file_data_lines:
    line_count = line_count + 1
    word_count = word_count + len(line.split(' '))
    char_count = char_count + len(line)


print('line count - ',line_count)
print('word count - ',word_count)
print('char count - ',char_count)

line count -  6
word count -  20
char count -  109

# Sort vs Sorted

# Prime Numbers

# Enumerate

# Zip